/* COMMON */

* {
  box-sizing: border-box;
}

body {
  padding: 5px 10px;
  margin: 0;
  background-color: #f2f2f2;
  /* cursor: pointer; */
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* NAV BAR TOP */

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__top__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .top__icon {
  padding-left: 5px;
}

/* FOLDER */

.folder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 300px;
}

.folder .folder__name,
.folder__count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder__name {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}

/* NAV BAR BOTTOM */

.nav__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.sidebar__container{
  
}

.nav__sidebar {
  border: none;
  outline: none;
}

.hidden__folder {
  display: none;
}

.nav__middle__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle__icon {
  padding-left: 30px;
}

/* MAIN */

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: auto;
  height: 500px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  color: #8b8b8b;
  font-weight: 500;
}

/* ADD */
.add {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 100px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #f46a4e;
  color: #ffffff;
  font-weight: thin;
}
